* {
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.li_zoos a:active {
    color: #F9804B;
}

img {
    width: 100%;
}

.header {
    width: 100%;
}

.header li:hover {
    cursor: pointer;
}

.header li:active {
    color: #F9804B;
}

.header nav {
    /* position: fixed; */
    background: #151515;
    color: #FFFF;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

ul {
    padding: 0;
}

.header ul {
    list-style-type: none;
    display: flex;
    width: 1160px;
}

.header li {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin: 15px 24px;
}

.logo_nav {
    position: relative;
    width: 82px;
    height: 52px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;

    text-align: center;

    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.logo_nav h4 {
    color: #fff;
}

.logo_nav img {
    position: absolute;
    width: 7.03px;
    height: 20.98px;
    left: 16.5px;
    top: 20px;
}

.header_main {
    display: flex;
    justify-content: center;
    position: relative;
}

.klor {
    position: absolute;
    left: calc(50% - 465px/2 + 239.5px);
    top: 92px;
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
}

.klor p {
    position: absolute;
    width: 500.31px;
    height: 400px;
    left: 72px;
    top: 73px;

    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 80%;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.klor span {
    color: #FFEE2E;
}

.header_main button {
    position: absolute;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2 + 332px);
    top: 626px;

    /* orang */

    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    transition: all .2s 0;
}

.header_main button:hover {
    background: #E47209;
    cursor: pointer;
}

.header_main button:active {
    background: #4B9200;
}

.header_main button:disabled {
    background: #767474;
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
    .global {
        max-width: 1600px;
    }
}

.main {
    width: 100%;
}

.part1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.part1_width {
    position: relative;
    width: 72.5%;
    display: flex;
    justify-content: space-between;
    padding: 140px 0;
    max-width: 1161px;
}

.part1_div1 {
    max-width: 609px;
    max-height: 403px;
}

.part1_div2 {
    width: 40.3100775%;
}

.part1_div1 {
    width: 52.454804%;
}

.part1 h2 {
    /* h2 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    /* or 58px */


    color: #333B41;
}

.part1_text_p1 p {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */


    color: #333B41;

    padding: 20px 0;
}

.part1 h3 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */

    color: #333B41;

    padding: 24px 0;
}

.part1_text_p2 p {
    /* body */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    color: #333B41;
}

.part1_img {
    position: absolute;
    right: -209px;
    transform: translateY(-128px);
    max-height: 605px;
}

.part2 {
    display: flex;
    justify-content: center;
}

.part2_width {
    position: relative;
    width: calc(100% - 280px);
    display: flex;
    justify-content: space-between;
    padding: 140px 0;
    max-width: 1320px;
}

.part2_aside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.part2_aside div {
    width: 62px;
    height: 62px;
    background: #F9804B;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part2_aside div:hover {
    cursor: pointer;
}

.part2_aside div:active {
    background: #4B9200;
}

.part2_center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.center_grid {
    width: 100%;
    display: grid;
    grid-gap: 30px;
    margin: 80px 20px;
}

.part2_center_div1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.part2_center_div2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.part2_center_div3 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.part2_center_div4 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.part2_center_div5 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.part2_center_div6 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.part2_center_div {
    box-sizing: border-box;
    border: 1px solid #FA6F32;
    border-radius: 5px;
}

.part2_center_button {
    display: flex;
    justify-content: center;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.part2_center_button button:hover {
    cursor: pointer;
}

.part2_center h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    text-transform: uppercase;

    color: #000000;
}

.part2_center p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    /* identical to box height, or 18px */


    color: #000000;
}

.center_text {
    display: flex;
    justify-content: space-between;
}

.center_text div {
    margin: 8px 16px;

}

.part2_center_button button {
    background: #FE9013;
    border-radius: 25px;
    border: none;
    width: 292px;
}

.part2_center_button p {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    padding: 16px 5px;
}

.part2_img2 {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(140px);
}

.part2_img1 {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-140px);
}

.part3 {

    display: flex;
    justify-content: center;
}

.part3_width {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px;
    width: 72.5%;
    margin: 69px 0 100px;
}

.part3_text1 {
    margin: 49px 0 0 100px;
}

.part3_width h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    /* identical to box height, or 58px */

    text-align: center;

    color: #FE9013;
    margin: 41px 0 0 0;
}

.part3_text1 h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */


    color: #333B41;
    margin: 30px 0;
}

.part3_text1 h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */


    color: #333B41;
    margin: 10px 0;
}

.part3_text1 p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */


    color: #333B41;

}

.part3_text2 {
    margin: 60px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.part3_text2 h2 {
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */


    color: #333B41;

}

.text_div {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 396px);
}

.part3_text2_div .part3_img {
    margin: 40px 0;
    width: 168px;
    height: 168px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F9804B;
    border-radius: 5px;
}

.part3_text2_div {
    width: calc(100% / 8 * 2);
}

.part3_text2_div img {
    width: 55%;
    aspect-ratio: 3/2;
}

.img_vector_part3 {
    display: flex;
    align-items: center;
}

.text_div p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    color: #333B41;
}

.part3_button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 25px 0 0;
}

.part3_button p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    padding: 16px 0;
}

.part3_button button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: none;
    width: 292px;
    transition: all .2s 0;
}

.part3_button button:hover {
    background: #E47209;
    cursor: pointer;
}

.part3_button button:active {
    background: #4B9200;
}

.part3_fixed {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.part4 {
    display: flex;
    justify-content: center;
}

.part4_width {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1160px;
    width: 72.5%;
    margin: 97px 0;
    position: relative;

}

.part4_div h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */

    text-align: center;

    color: #333B41;
    margin: 47px 0;
}

.part4_about {
    border-radius: 20px;
    width: calc(100% / 4 - 15px);
    display: flex;
    justify-content: center;
    position: relative;
}

.linear {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1;
    top: -1.5px;
    border-radius: 25px;

    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
        linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);


}

.about_width {
    width: 100%;
    overflow: hidden;
    max-height: 321px;
    z-index: 2;
    background: #F1F3F2;
    border-radius: 25px;
}

.part4_div {
    width: 100%;
}

.about_parts {
    display: flex;
    margin: 15px;
    flex-wrap: wrap;

}

.about_parts img {
    width: 37px;
    height: 37px;
    margin: 0 15px 0 0;

}

.about_parts h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */


    color: #000000;
}

.about_parts h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    /* identical to box height, or 18px */


    /* Gray 4 */

    color: #BDBDBD;
}

.about_parts p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    /* or 18px */


    /* gray */

    color: #767474;
}

.part4_div2 {
    display: flex;
    justify-content: space-between;
}

.part4_button p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    padding: 16px 0;
}

.part4_button button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    border: none;
    width: 298px;
    margin: 32px 0;
    transition: all .2s 0;
}

.part4_button button:hover {
    background: #E47209;
    cursor: pointer;
}

.part4_button button:active {
    background: #4B9200;
}

.part4_bottom_img {
    position: absolute;
    right: -209px;
    bottom: -196px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.part4_bottom_img img {
    width: 295px;
    height: 300px;
}

.footer {
    background: #111115;
    display: flex;
    justify-content: center;
}

.footer_width {
    width: calc(100% - 440px);
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
}

.footer_div {
    width: calc(100% / 3);
    margin: 40px 0;
}

.div1_button {
    margin: 68px 0 44px;
}

.div1_button p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    padding: 16px 0;
}

.div1_button button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    border: none;
    width: 298px;
}

.div1_icons div {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.div1_icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    color: #fff;
    border-radius: 50%;
    transition: all .2s 0;
}

.div1_icons h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    margin: 0 12px;

    color: #FFFFFF;
    transition: all .2s 0;
}

.div2_li {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    color: #FFFFFF;
}

.div2_ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
}

ul {
    list-style-type: none;
}

.footer_div2 {
    display: flex;
    align-items: flex-end;
}

.div3_text h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */


    color: #FFFFFF;

}

.div3_input_email input {
    padding: 10px 7px 10px 10px;
    border-radius: 2px;
    background: none;
    border: 0.7px solid #F9804B;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    /* Gray 4 */

    color: #BDBDBD;

}

.div3_input_email {
    position: relative;
}

.div3_input_email label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    /* Gray 4 */

    color: #BDBDBD;
    position: absolute;
    left: 10;
    top: 10;
    color: #fff;
}

.div3_input {
    display: flex;
    justify-content: space-between;
    margin: 14px 0;
    align-items: center;
}

.div3_input_email input:default {
    padding: 10px 7px 10px 10px;
    border-radius: 2px;
    background: none;
    border: 0.7px solid #F9804B;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    /* Gray 4 */

    color: #BDBDBD;

}

.div3_input_submit input {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 40px;
}

.div3_input_email input:invalid {
    border: 0.7px solid red;
    outline: none;
}

.div3_input_email input:focus-visible {
    border: 0.7px solid #4b9200;
    outline: none;
}

.div3_input_submit input:active {
    border: 1px solid #4B9200;
    color: #4b9200;
}

.div3_input_submit input:hover {
    cursor: pointer;
}


.footer_div3 {
    display: flex;
    flex-wrap: wrap;
}

.div3_div {
    width: 100%;
}

.div3_bottom {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.div3_bottom h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */


    color: #FFFFFF;
    opacity: 0.3;
}

.div1_icons div:hover {
    cursor: pointer;
}

.div1_icons div:active h4 {
    color: #4B9200;
}

.div1_icons div:active i {
    background: #4B9200;
}

.footer li:hover {
    cursor: pointer;
}

.footer li:active {
    color: #F9804B;
}
